@page "/"
@using Plugin.Firebase.CloudMessaging

<h1>Hello, world!</h1>

Welcome to your new app.
<div>
    <textarea class="form-control" rows="3" disabled>@fcmToken</textarea>
</div>

@code
{
    private bool isLoading = false;
    private bool isSuccess = false;
    private string responseMessage = string.Empty;
    private string fcmToken = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await CrossFirebaseCloudMessaging.Current.CheckIfValidAsync();
        fcmToken = await CrossFirebaseCloudMessaging.Current.GetTokenAsync();
        Console.WriteLine($"FCM token: {fcmToken}");
    }
}
